:root{
--header-color: #212121;
--header-content-color: #757575;
--header-accent-color:#2196F3;
--main-first-color: #212121;
--main-second-color: #757575;
--second-btn-color: #FFFFFF;
}

body{
    font-family: Roboto , Tahoma , sans-serif;
}

.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
.link:hover , .link:focus{
    color: #2196F3;
}

/* Header */
.logo{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #000000;
}
.logo-span{
    color:#2196F3
}

.site-link{
    color:var(--header-color)
     font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

}
.content-link{
    color: var(--header-content-color);
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}


/* Hero */

.hero{
    background-color: #2F303A;
}
.hero-title{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.hero-btn{
    font-family: 'Roboto';
    color: #FFFFFF;
    background-color: var(--header-accent-color);
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;
}


/* Main */
.main-title{
    color: var(--main-first-color);
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.main-text{
    color: var(--main-second-color);
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
.work-title{
    color: var(--main-first-color);
    font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
}
.team-top-title{
    color: var(--main-first-color);
    font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
}
.team-title{
    color: var(--main-first-color);
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
}
.team-text{
    color: var(--main-second-color);
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
}

/* Portfolio */
.filter-btn{
    font-family: 'Roboto';
    color: var(--main-first-color);
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
cursor: pointer;
}
.filter-btn:hover , .filter-btn:focus{
    color: var(--second-btn-color);
    background-color: var(--header-accent-color);
}
.proect-title{
    color: var(--main-first-color);
    font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.proect-text{
    color: var(--main-second-color);
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
}